/Task1_Sol/DevDB1Proj/bin
/Task7_Sol/DevDB1Proj/DevDB1Proj/bin
/Task7_Sol/DevDB1Proj/bin
/Task6_Sol/DevDB1Proj/bin
/Task5_Sol/DevDB1Proj/bin
/Task2_Sol/DevDB1Proj/bin
/Task7_Sol/DevDB1Proj/DevDB1Proj/obj
/Task7_Sol/DevDB1Proj/obj
/Task6_Sol/DevDB1Proj/obj
/Task5_Sol/DevDB1Proj/obj
/Task2_Sol/DevDB1Proj/obj
/Task1_Sol/DevDB1Proj/obj
